/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #2f2d2e;
}

/* 2. Content ================================= */

header{
	height: 200px; 
	background: #048ba8;
	color: #2f2d2e;
	font-family: 'IBM Plex Serif', serif;
	padding: 40px 3%;
	
	h1{
		font-size: 30px;
	}

	h2{
		font-size: 20px;
	}
}

.search{
	text-align: center;
	margin-top: 40px;
	font-size: 20px;
	font-family: 'IBM Plex Serif', serif;

	label{
		color: #f18f01;
		font-size: 25px;
	}

	input{
		font-size: 25px;
		margin: 0 10px;
	}

	button{
		background: #f18f01;
		font-size: 25px;
		border-radius: 10px;
		font-family: 'IBM Plex Serif', serif;
	}
}

.articles{
	color: #048ba8;
	font-family: 'IBM Plex Serif', serif;
	font-size: 20px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 5%;
}

li{
	width: 250px;
	height: 250px;
	margin: 20px;
	border: 2px solid #fff;
}
